language: minimal

services:
  - docker

env:
  - DOCKERFILE="crystal_0.27-alpine_3.9.Dockerfile" CRYSTAL_VERSION="0.27"
  - DOCKERFILE="crystal_0.29-alpine_3.10.Dockerfile" CRYSTAL_VERSION="0.29"
  - DOCKERFILE="crystal_0.30-alpine_edge.Dockerfile" CRYSTAL_VERSION="0.30"

script:
  - cat /proc/version
  
  - DOCKER_IMAGE="alpine-crystal-$CRYSTAL_VERSION"
  - docker build -f $DOCKERFILE -t $DOCKER_IMAGE .
  - docker images
  
  - ACTUAL_CRYSTAL_VERSION=$(docker run --rm -it $DOCKER_IMAGE crystal --version)
  - echo $ACTUAL_CRYSTAL_VERSION
  - |
    if ! echo $ACTUAL_CRYSTAL_VERSION | grep "Crystal $CRYSTAL_VERSION"; then
      echo "Crystal version mismatch; expected $CRYSTAL_VERSION"
      exit 1
    fi

  - docker run --rm -it $DOCKER_IMAGE shards --version

  - |
    echo '# prevents segfault during static linking on Alpine, ignored otherwise
    {% if flag?(:static) %}
      require "llvm/lib_llvm"
      require "llvm/enums"
    {% end %}
    
    puts "Hello, World!"' > test_app.cr

  - >
    docker run --rm --user $(id -u) --env UID=$(id -u) --env GID=$(id -g) -it -v $PWD:/app -w /app $DOCKER_IMAGE 
    crystal build --static --release --no-debug test_app.cr
  - ls -l test_app
  - ./test_app